<footer class="page-footer">
    <div class="container">
        <div class="page-footer__row">
            <div class="page-footer__copyright">
                Lana Luu “PRO Style” education cours 2022
            </div>
        </div>
    </div>
</footer>