{{#extend "layout"}}
{{#content "main"}}

<div class="choose js-choose">
    <div class="container">
        <div class="choose__inner">
            <div class="choose__wrapper">
                <h1 class="section-heading choose__heading">
                    Тест на температуру
                </h1>
                <div class="info choose__info">
                    <svg width="14" height="14" aria-hidden="true" class="icon-info">
                        <use xlink:href="#info"></use>
                    </svg>
                    Что бы получить результат теста проставьте галочки на понравившихся сочетаниях

                </div>
                <form action="/" class="choose__form">
                    <div class="choose__form-variants">
                        <label class="photo-variant">
                            <input type="checkbox" name="photo-variant" class="photo-variant__input">
                            <span class="photo-variant__content">
                                <span class="photo-variant__photo-container">
                                    <img src="img/photo-variant.jpg" alt="" class="photo-variant__photo">
                                    <span class="photo-variant__mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                </span>
                                <span class="photo-variant__color" style="background-color: #FD5B57; ">

                                </span>
                                <div class="photo-variant__desc">
                                    Теплый
                                </div>
                            </span>
                        </label>
                        <label class="photo-variant">
                            <input type="checkbox" name="photo-variant" class="photo-variant__input">
                            <span class="photo-variant__content">
                                <span class="photo-variant__photo-container">
                                    <img src="img/photo-variant.jpg" alt="" class="photo-variant__photo">
                                    <span class="photo-variant__mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                </span>
                                <span class="photo-variant__color" style="background-color: #FF68FF; ">

                                </span>
                                <div class="photo-variant__desc">
                                    Холодный
                                </div>
                            </span>
                        </label>
                        <label class="photo-variant">
                            <input type="checkbox" name="photo-variant" class="photo-variant__input">
                            <span class="photo-variant__content">
                                <span class="photo-variant__photo-container">
                                    <img src="img/photo-variant.jpg" alt="" class="photo-variant__photo">
                                    <span class="photo-variant__mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                </span>
                                <span class="photo-variant__color">
                                    <img src="img/texture-1.jpg" alt="" class="photo-variant__color-image">
                                </span>
                                <div class="photo-variant__desc">
                                    Теплый
                                </div>
                            </span>
                        </label>
                        <label class="photo-variant">
                            <input type="checkbox" name="photo-variant" class="photo-variant__input">
                            <span class="photo-variant__content">
                                <span class="photo-variant__photo-container">
                                    <img src="img/photo-variant.jpg" alt="" class="photo-variant__photo">
                                    <span class="photo-variant__mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                </span>
                                <span class="photo-variant__color" style="background-color:#CFDCE2; ">
                                    <img src="img/texture-2.jpg" alt="" class="photo-variant__color-image">
                                </span>
                                <div class="photo-variant__desc">
                                    Холодный
                                </div>
                            </span>
                        </label>

                    </div>
                    <div class="choose__form-submit-wrapper">
                        <button type="submit" class="btn choose__form-submit" disabled="">
                            Дальше
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#small-arrow-right"></use>
                            </svg>
                        </button>

                    </div>
                </form>
            </div>


        </div>
    </div>
</div>


{{/content}}
{{/extend}}