{{#extend "layout"}}
{{#content "main"}}

<div class="choose js-choose">
    <div class="container">
        <div class="choose__inner">
            <div class="choose__wrapper">
                <h1 class="section-heading choose__heading">
                    Определение цветовых хаарктеристик
                </h1>
                <div class="info choose__info">
                    <svg width="14" height="14" aria-hidden="true" class="icon-info">
                        <use xlink:href="#info"></use>
                    </svg>
                    Поставьте галочку на той фотографии, сочетание с каким цветом вам кажется наиболее гармоничным

                </div>
                <form action="/" class="choose__form">
                    <div class="choose__form-variants">
                        <label class="photo-variant">
                            <input type="checkbox" name="photo-variant" class="photo-variant__input">
                            <span class="photo-variant__content">
                                <span class="photo-variant__photo-container">
                                    <img src="img/photo-variant.jpg" alt="" class="photo-variant__photo">
                                    <span class="photo-variant__mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                </span>
                                <span class="photo-variant__color" style="background-color: #E3476D; ">

                                </span>
                            </span>
                        </label>
                        <label class="photo-variant">
                            <input type="checkbox" name="photo-variant" class="photo-variant__input">
                            <span class="photo-variant__content">
                                <span class="photo-variant__photo-container">
                                    <img src="img/photo-variant.jpg" alt="" class="photo-variant__photo">
                                    <span class="photo-variant__mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                </span>
                                <span class="photo-variant__color" style="background-color: #47ABE3; ">

                                </span>
                            </span>
                        </label>
                        <label class="photo-variant">
                            <input type="checkbox" name="photo-variant" class="photo-variant__input">
                            <span class="photo-variant__content">
                                <span class="photo-variant__photo-container">
                                    <img src="img/photo-variant.jpg" alt="" class="photo-variant__photo">
                                    <span class="photo-variant__mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                </span>
                                <span class="photo-variant__color" style="background-color: #232323; ">

                                </span>
                            </span>
                        </label>
                        <label class="photo-variant">
                            <input type="checkbox" name="photo-variant" class="photo-variant__input">
                            <span class="photo-variant__content">
                                <span class="photo-variant__photo-container">
                                    <img src="img/photo-variant.jpg" alt="" class="photo-variant__photo">
                                    <span class="photo-variant__mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                </span>
                                <span class="photo-variant__color" style="background-color:#CFDCE2; ">

                                </span>
                            </span>
                        </label>
                        <label class="photo-variant">
                            <input type="checkbox" name="photo-variant" class="photo-variant__input">
                            <span class="photo-variant__content">
                                <span class="photo-variant__photo-container">
                                    <img src="img/photo-variant.jpg" alt="" class="photo-variant__photo">
                                    <span class="photo-variant__mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                </span>
                                <span class="photo-variant__color" style="background-color:#ACA898; ">

                                </span>
                            </span>
                        </label>
                        <label class="photo-variant">
                            <input type="checkbox" name="photo-variant" class="photo-variant__input">
                            <span class="photo-variant__content">
                                <span class="photo-variant__photo-container">
                                    <img src="img/photo-variant.jpg" alt="" class="photo-variant__photo">
                                    <span class="photo-variant__mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                </span>
                                <span class="photo-variant__color" style="background-color:#E3C147; ">

                                </span>
                            </span>
                        </label>
                    </div>
                    <div class="choose__form-submit-wrapper">
                        <button type="submit" class="btn choose__form-submit" disabled="">
                            Получить результат
                        </button>
                        <div class="info">
                            <svg width="14" height="14" aria-hidden="true" class="icon-info">
                                <use xlink:href="#info"></use>
                            </svg>
                            Что бы получить результат теста прсотавьте галочки на понравившихся сочетаниях
                        </div>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>


{{/content}}
{{/extend}}