{{#extend "layout"}}
{{#content "main"}}

<div class="results">
    <div class="container">
        <div class="results__row">
            <div class="results__sidebar">
                <div class="results__block">
                    <h3 class="results__block-heading">
                        Типы корекции фигуры
                    </h3>
                    <div class="results__categories">
                        <a href="#" class="results__categories-link">
                            Категория 1
                        </a>
                        <a href="#" class="results__categories-link active">
                            Категория 2
                        </a>
                        <a href="#" class="results__categories-link">
                            Категория 3
                        </a>
                        <a href="#" class="results__categories-link">
                            Категория 4
                        </a>
                        <a href="#" class="results__categories-link">
                            Категория 5
                        </a>
                    </div>
                </div>
            </div>
            <div class="results__main">
                <div class="results__inner">
                    <h1 class="section-heading results__heading">
                        Категория 1
                    </h1>
                    <div class="results__content">
                        <p>
                            Укажите вашу почту и пароль что бы получить доступ к материалам курса. Обратите внимание,
                            что по окончанию обучения доступ будет Укажите вашу почту и пароль что бы получить доступ к
                            материалам курса. Обратите внимание, что по окончанию обучения доступ будет закрыт. Simply
                            dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book. It has survived not only five centuries, but also
                            the leap into.
                        </p>
                        <div class="results__images">
                            <img src="img/placeholder-image.svg" alt="" class="results__image">
                            <img src="img/placeholder-image.svg" alt="" class="results__image">
                        </div>
                        <p>
                            Укажите вашу почту и пароль что бы получить доступ к материалам курса. Обратите внимание,
                            что по окончанию обучения доступ будет Укажите вашу почту и пароль что бы получить доступ к
                            материалам курса. Обратите внимание, что по окончанию обучения доступ будет закрыт. Simply
                            dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book. It has survived not only five centuries, but also
                            the leap into.
                        </p>
                    </div>
                    <a href="#" class="btn">
                        Загрузить отчет в  PDF
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{{/content}}
{{/extend}}