{{#extend "layout"}}
{{#content "main"}}

<div class="figure-calculator js-figure-calculator">
    <div class="container">
        <div class="figure-calculator__inner">
            <div class="figure-calculator__wrapper">


                <h1 class="section-heading figure-calculator__heading">
                    Результат - ваш тип фигуры яблоко
                </h1>
                <div class="info figure-calculator__info">
                    <svg width="14" height="14" aria-hidden="true" class="icon-info">
                        <use xlink:href="#info"></use>
                    </svg>
                   Укажите вашу почту и пароль что бы получить доступ к материалам курса. Обратите внимание, что по окончанию обучения доступ будет закрыт. Укажите вашу почту и пароль что бы получить доступ к материалам курса. Обратите внимание, что по окончанию обучения доступ будет закрыт.

                </div>
                <img src="img/placeholder-image.svg" alt="" class="figure-calculator__image">
                <a href="#" class="btn figure-calculator__link">
                    Загрузить PDF
                </a>
            </div>  
        </div>
    </div>
</div>


{{/content}}
{{/extend}}