{{#extend "layout"}}
{{#content "main"}}

<section class="greeting">
    <div class="container">
        <div class="greeting__inner">
            <div class="greeting__logo-wrapper">
                <img src="img/logo.svg" alt="" class="greeting__logo">
            </div>
            <div class="greeting__text">
                <p>
                    Добро пожаловать на интерактивный сайт курса PRO Стиль, нажмите продолжить что бы преступить к
                    первому тесту.
                </p>
            </div>
            <a href="#" class="greeting__link">
                Веред!
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}