{{#extend "layout"}}
{{#content "main"}}

<section class="result">
    <div class="container">
        <div class="result__inner">
            <a href="#" class="result__back">
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </a>
            <div class="result__methods">
                <h2 class="section-heading result__methods-heading">
                    Корекционные методики O фигуры
                </h2>
                <ol class="result__methods-list">
                    <li class="result__methods-list-item">
                        Большая грудь
                    </li>
                    <li class="result__methods-list-item">
                        Полные предплечья 
                    </li>
                    <li class="result__methods-list-item">
                        Выступающий живот 
                    </li>
                    <li class="result__methods-list-item">
                        Складка в зоне подмышек
                    </li>
                    <li class="result__methods-list-item">
                        Узкие плечи
                    </li>
                    <li class="result__methods-list-item">
                        Х-образная форма ног
                    </li>
                    <li class="result__methods-list-item">
                        Невысокий рост
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}