{{#extend "layout"}}
{{#content "main"}}

<div class="results">
    <div class="container">
        <div class="results__row">
          
            <div class="results__main">
                <div class="results__inner">
                    <h1 class="section-heading results__heading">
                        Ваши цветовые характеристики
                    </h1>
                  
                    <ul class="results__list">
                        <li class="results__list-item">
                            <div class="results__image-card">
                                <div class="results__image-card-container">
                                    <img src="img/photo-variant.jpg" alt="" class="results__image-card-image">
                                </div>
                                <div class="results__image-card-color">
                                    <div class="results__image-card-color-item" style="background: #FF68FF;">

                                    </div>
                                    <div class="results__image-card-color-item">
                                        <img src="img/small-tex-1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="results__image-card-desc">
                                    Холодный
                                </div>
                            </div>
                        </li>
                        <li class="results__list-item">
                            <div class="results__image-card">
                                <div class="results__image-card-container">
                                    <img src="img/photo-variant.jpg" alt="" class="results__image-card-image">
                                </div>
                                <div class="results__image-card-color">
                                    <div class="results__image-card-color-item" style="background: #709ED5;">

                                    </div>
                                    <div class="results__image-card-color-item">
                                        <img src="img/small-tex-2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="results__image-card-desc">
                                    Мягкий
                                </div>
                            </div>
                        </li>
                        <li class="results__list-item">
                            <div class="results__image-card">
                                <div class="results__image-card-container">
                                    <img src="img/photo-variant.jpg" alt="" class="results__image-card-image">
                                </div>
                                <div class="results__image-card-color">
                                    <div class="results__image-card-color-item" style="background: #0D5B0E;">

                                    </div>
                                    <div class="results__image-card-color-item">
                                        <img src="img/small-tex-3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="results__image-card-desc">
                                    Темно-Светлый
                                </div>
                            </div>
                        </li>

                    </ul>
                  

                </div>
            </div>
        </div>
    </div>
</div>

{{/content}}
{{/extend}}