{{#extend "layout"}}
{{#content "main"}}

<section class="result">
    <div class="container">
        <div class="result__inner">
            <a href="#" class="result__back">
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </a>
            <h1 class="section-heading result__heading">
                Результат - ваш тип  V - фигура (Перевернутый треугольник)
            </h1>
            <div class="result__figure">

                <div class="result__figure-cards">
                    <div class="result__figure-card">
                        <h3 class="result__figure-card-title">
                            Грудь
                        </h3>
                        <div class="result__figure-card-text">
                            <p>
                               Грудь средняя или большая по размеру. Массивная грудь и плечи создают впечатление тяжести верха. Но может встречаться и небольшая грудь, тогда весь обьем забирают на себя плечи. При наборе веса лишние килограммы откладываются в районе груди и рук.
                            </p>
                        </div>
                    </div>
                    <div class="result__figure-card">
                        <h3 class="result__figure-card-title">
                            Ширина плеч
                        </h3>
                        <div class="result__figure-card-text">
                            <p>
                               Широкие плечи, которые визуально шире бедер. Плечи, как правило, достаточно высокие с четкой линией. 
                            </p>
                        </div>
                    </div>
                    <div class="result__figure-card">
                        <h3 class="result__figure-card-title">
                            Талия
                        </h3>
                        <div class="result__figure-card-text">
                            <p>
                                Талия чаще выражена слабо. Мало изгиба. Возможен чуть выступающий вперед живот. Положение талии, как правило, несколько завышено (укороченный торс). Но бывают и исключения с достаточно узкой талией
                            </p>
                        </div>
                    </div>
                </div>
                <img src="img/figure-4.png" alt="" class="result__figure-image">
                <div class="result__figure-cards">


                    <div class="result__figure-card">
                        <h3 class="result__figure-card-title">
                            Бедра
                        </h3>
                        <div class="result__figure-card-text">
                            <p>
                               Бедра условно можно назвать прямыми, т.к. они не имеют ярко выраженного изгиба. При наборе веса жировые отложения в верхней части бедер незначительны. Ягодицы часто плоские. Плечи выглядят гораздо шире бедер.
                            </p>
                        </div>
                    </div>
                    <div class="result__figure-card">
                        <h3 class="result__figure-card-title">
                            Рост
                        </h3>
                        <div class="result__figure-card-text">
                            <p>
                              Рост может быть любым.
                            </p>
                        </div>
                    </div>
                    <div class="result__figure-card">
                        <h3 class="result__figure-card-title">
                            Ноги
                        </h3>
                        <div class="result__figure-card-text">
                            <p>
                               Ноги, как правило, стройные. Они часто кажутся достаточно длинными, особенно при завышенной талии.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="result__corrections">
                <img src="img/correction-4.jpg" alt="" class="result__corrections-img">
                <div class="result__corrections-content">
                    <h2 class="result__corrections-heading">
                        Основы коррекции для фигуры V
                    </h2>
                    <div class="result__corrections-task">
                        <h3 class="result__corrections-task-title">
                            Главная задача:
                        </h3>
                        <div class="result__corrections-task-text">
                          Сбалансировать верх и низ, убрать внимание с верха и перевести его на низ
                        </div>
                    </div>
                    <div class="result__corrections-steps">
                        <h3 class="result__corrections-steps-heading">
                            Основные способы коррекции:
                        </h3>
                        <ol class="result__corrections-steps-list">
                            <li class="result__corrections-steps-list-item">
                                <div class="result__corrections-steps-card">
                                   <b>Узкие бедра</b> - даем больше объема бедрам, расширяем их
                                </div>
                            </li>
                            <li class="result__corrections-steps-list-item">
                                <div class="result__corrections-steps-card">
                                  <b>Широкие плечи</b> - драпируем или визуально сужаем плечи
                                </div>
                            </li>
                            <li class="result__corrections-steps-list-item">
                                <div class="result__corrections-steps-card">
                                   <b>Широкая талия (если есть)</b> - сужаем талию с помощью определённых методик
                                </div>
                            </li>

                        </ol>
                    </div>
                </div>
            </div>
            <div class="result__links">
                <a href="#" class="result__link">
                    Инструкции по корекции вашего типа фигуры >
                </a>
                <a href="#" class="result__link">
                    Все корекционные методики >
                </a>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}