{{#extend "layout"}}
{{#content "main"}}

<div class="results">
    <div class="container">
        <div class="results__row">
            <div class="results__sidebar">
                <div class="results__block">
                    <h3 class="results__block-heading">
                        Выбранные категории
                    </h3>
                    <div class="results__categories">
                        <a href="#" class="results__categories-link">
                            Результат 1
                        </a>
                        <a href="#" class="results__categories-link active">
                            Результат 2
                        </a>
                        <a href="#" class="results__categories-link">
                            Результат 3
                        </a>
                        <a href="#" class="results__categories-link">
                            Результат 4
                        </a>
                        <a href="#" class="results__categories-link">
                            Результат 5
                        </a>
                    </div>
                </div>
                <div class="results__block">
                    <h3 class="results__block-heading">
                        Оставшиеся категории
                    </h3>
                    <div class="results__categories">
                        <a href="#" class="results__categories-link results__categories-link--grey">
                            Результат 6
                        </a>
                        <a href="#" class="results__categories-link results__categories-link--grey">
                            Результат 7
                        </a>
                        <a href="#" class="results__categories-link results__categories-link--grey">
                            Результат 8
                        </a>
                        <a href="#" class="results__categories-link results__categories-link--grey">
                            Результат 9
                        </a>
                        <a href="#" class="results__categories-link results__categories-link--grey">
                            Результат 10
                        </a>
                        <a href="#" class="results__categories-link results__categories-link--grey">
                            Результат 11
                        </a>
                    </div>
                </div>

            </div>
            <div class="results__main">
                <div class="results__inner">
                    <h1 class="section-heading results__heading">
                        Определение цветовых хаарктеристик
                    </h1>
                    <div class="info results__info">
                        <svg width="14" height="14" aria-hidden="true" class="icon-info">
                            <use xlink:href="#info"></use>
                        </svg>
                        Поставьте галочку на той фотографии, сочетание с каким цветом вам кажется наиболее гармоничным

                    </div>
                    <ul class="results__list">
                        <li class="results__list-item">
                            <div class="results__image-card">
                                <div class="results__image-card-container">
                                    <img src="img/photo-variant.jpg" alt="" class="results__image-card-image">
                                </div>
                                <div class="results__image-card-color" style="background-color: #E3476D;">
                                    
                                </div>
                            </div>
                        </li>
                        <li class="results__list-item">
                            <div class="results__image-card">
                                <div class="results__image-card-container">
                                    <img src="img/photo-variant.jpg" alt="" class="results__image-card-image">
                                </div>
                                <div class="results__image-card-color" style="background-color: #E3476D;">

                                </div>
                            </div>
                        </li>
                        <li class="results__list-item">
                            <div class="results__image-card">
                                <div class="results__image-card-container">
                                    <img src="img/photo-variant.jpg" alt="" class="results__image-card-image">
                                </div>
                                <div class="results__image-card-color" style="background-color: #E3476D;">

                                </div>
                            </div>
                        </li>
                        <li class="results__list-item">
                            <div class="results__image-card">
                                <div class="results__image-card-container">
                                    <img src="img/photo-variant.jpg" alt="" class="results__image-card-image">
                                </div>
                                <div class="results__image-card-color" style="background-color: #E3476D;">

                                </div>
                            </div>
                        </li>
                        <li class="results__list-item">
                            <div class="results__image-card">
                                <div class="results__image-card-container">
                                    <img src="img/photo-variant.jpg" alt="" class="results__image-card-image">
                                </div>
                                <div class="results__image-card-color" style="background-color: #E3476D;">

                                </div>
                            </div>
                        </li>
                        <li class="results__list-item">
                            <div class="results__image-card">
                                <div class="results__image-card-container">
                                    <img src="img/photo-variant.jpg" alt="" class="results__image-card-image">
                                </div>
                                <div class="results__image-card-color" style="background-color: #E3476D;">

                                </div>
                            </div>
                        </li>
                        <li class="results__list-item">
                            <div class="results__image-card">
                                <div class="results__image-card-container">
                                    <img src="img/photo-variant.jpg" alt="" class="results__image-card-image">
                                </div>
                                <div class="results__image-card-color" style="background-color: #E3476D;">

                                </div>
                            </div>
                        </li>
                        <li class="results__list-item">
                            <div class="results__image-card">
                                <div class="results__image-card-container">
                                    <img src="img/photo-variant.jpg" alt="" class="results__image-card-image">
                                </div>
                                <div class="results__image-card-color" style="background-color: #E3476D;">

                                </div>
                            </div>
                        </li>
                        <li class="results__list-item">
                            <div class="results__image-card">
                                <div class="results__image-card-container">
                                    <img src="img/photo-variant.jpg" alt="" class="results__image-card-image">
                                </div>
                                <div class="results__image-card-color" style="background-color: #E3476D;">

                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="results__palette">
                        <h3 class="results__palette-heading">
                            Палитра по результатам теста
                        </h3>
                        <img src="img/palette.jpg" alt="" class="results__palette-image">
                        <a href="#" class="btn results__download-link">
                            Загрузить PDF
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{/content}}
{{/extend}}