{{#extend "layout"}}
{{#content "main"}}

<section class="result">
    <div class="container">
        <div class="result__inner">
            <a href="#" class="result__back">
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </a>
            <h1 class="section-heading result__heading">
                Результат - ваш тип А - фигура (Треугольник)
            </h1>
            <div class="result__figure">

                <div class="result__figure-cards">
                    <div class="result__figure-card">
                        <h3 class="result__figure-card-title">
                            Грудь
                        </h3>
                        <div class="result__figure-card-text">
                            <p>
                                Грудная клетка астенического костного типа. Грудь небольшая или среднего размера. При
                                наборе веса почти не полнеет. Большая грудь практически не встречается.
                            </p>
                        </div>
                    </div>
                    <div class="result__figure-card">
                        <h3 class="result__figure-card-title">
                            Ширина плеч
                        </h3>
                        <div class="result__figure-card-text">
                            <p>
                                Как правило, плечи не широкие и / или покатые. Иногда плечи нормальной ширины и высоты.
                                Очень высокие и / или широкие плечи встречаются крайне редко.
                            </p>
                        </div>
                    </div>
                    <div class="result__figure-card">
                        <h3 class="result__figure-card-title">
                            Талия
                        </h3>
                        <div class="result__figure-card-text">
                            <p>
                                Талия явно выражена. Даже при наборе веса талия всегда явно присутствует. Лишние
                                килограммы могут откладываться только в нижней части живота. Положение талии, как
                                правило, несколько занижено.
                            </p>
                        </div>
                    </div>
                </div>
                <img src="img/figure-3.png" alt="" class="result__figure-image">
                <div class="result__figure-cards">


                    <div class="result__figure-card">
                        <h3 class="result__figure-card-title">
                            Бедра
                        </h3>
                        <div class="result__figure-card-text">
                            <p>
                                Самая широкая часть. Визуально выглядят больше верха и плеч, хотя по обхвату могут быть
                                равны. Узкие бедра в данном типе фигуры не встречаются. При наборе веса бедра полнеют в
                                первую очередь. Часто встречаются так называемые «ушки» на бедрах.
                            </p>
                        </div>
                    </div>
                    <div class="result__figure-card">
                        <h3 class="result__figure-card-title">
                            Рост
                        </h3>
                        <div class="result__figure-card-text">
                            <p>
                                Рост может быть любым. Но чаще всего ниже среднего и средний. Реже - высокий и очень
                                высокий.
                            </p>
                        </div>
                    </div>
                    <div class="result__figure-card">
                        <h3 class="result__figure-card-title">
                            Ноги
                        </h3>
                        <div class="result__figure-card-text">
                            <p>
                                Ноги могут быть пропорциональными фигуре или достаточно объемными, особенно в верхней
                                части. Наравне с бедрами и ягодицами, при наборе веса ноги полнеют в первую очередь и по
                                всей длине, в том числе над коленями и в области икр.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="result__corrections">
                <img src="img/correction-3.jpg" alt="" class="result__corrections-img">
                <div class="result__corrections-content">
                    <h2 class="result__corrections-heading">
                        Основы коррекции для фигуры А
                    </h2>
                    <div class="result__corrections-task">
                        <h3 class="result__corrections-task-title">
                            Главная задача:
                        </h3>
                        <div class="result__corrections-task-text">
                           Сбалансировать верх и низ, убрать внимание с низа и перевести его наверх
                        </div>
                    </div>
                    <div class="result__corrections-steps">
                        <h3 class="result__corrections-steps-heading">
                            Основные способы коррекции:
                        </h3>
                        <ol class="result__corrections-steps-list">
                            <li class="result__corrections-steps-list-item">
                                <div class="result__corrections-steps-card">
                                   <b>Узкие или покатые плечи</b> - расширяем и подчеркиваем плечи, даем больше объема наверх (плечи и грудь)

                                </div>

                            </li>
                            <li class="result__corrections-steps-list-item">
                                <div class="result__corrections-steps-card">


                                   <b>Широкие бедра</b> - драпируем или визуально сужаем бедра


                                </div>
                            </li>
                            <li class="result__corrections-steps-list-item">
                                <div class="result__corrections-steps-card">


                                   <b>Узкая талия</b> - подчеркиваем талию, чтобы сохранить пропорции
                                </div>
                            </li>

                        </ol>
                    </div>
                </div>
            </div>
            <div class="result__links">
                <a href="#" class="result__link">
                    Инструкции по корекции вашего типа фигуры >
                </a>
                <a href="#" class="result__link">
                    Все корекционные методики >
                </a>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}