{{#extend "layout"}}
{{#content "main"}}

<section class="result">
    <div class="container">
        <div class="result__inner">
            <a href="#" class="result__back">
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </a>
            <h1 class="section-heading result__heading">
                Результат - ваш тип V - фигура (Перевернутый треугольник)
            </h1>
            <div class="result__figure">

                <div class="result__figure-cards">
                    <div class="result__figure-card">
                        <h3 class="result__figure-card-title">
                            Грудь
                        </h3>
                        <div class="result__figure-card-text">
                            <p>
                                Грудь среднего или большого размера. При наборе веса грудь полнеет, как и все тело.
                                Маленькая грудь почти не встречается. Именно она задает весь объем сверху
                            </p>
                        </div>
                    </div>
                    <div class="result__figure-card">
                        <h3 class="result__figure-card-title">
                            Ширина плеч
                        </h3>
                        <div class="result__figure-card-text">
                            <p>
                                Плечи нормальной ширины и слегка покатые. Очень высокие и / или широкие плечи
                                встречаются крайне редко.
                            </p>
                        </div>
                    </div>
                    <div class="result__figure-card">
                        <h3 class="result__figure-card-title">
                            Талия
                        </h3>
                        <div class="result__figure-card-text">
                            <p>
                                Талия слабо выражена или не выражена совсем. При наборе веса живот все больше и больше
                                выступает вперед. Положение талии, как правило, несколько завышено. Даже при небольшом
                                весе есть обьем в области талии.
                            </p>
                        </div>
                    </div>
                </div>
                <img src="img/figure-5.png" alt="" class="result__figure-image">
                <div class="result__figure-cards">


                    <div class="result__figure-card">
                        <h3 class="result__figure-card-title">
                            Бедра
                        </h3>
                        <div class="result__figure-card-text">
                            <p>
                                Бедра средние или достаточно узкие. По ширине равны или немного меньше ширины плеч.
                                Могут смотреться небольшими относительно объема сверху.
                            </p>
                        </div>
                    </div>
                    <div class="result__figure-card">
                        <h3 class="result__figure-card-title">
                            Рост
                        </h3>
                        <div class="result__figure-card-text">
                            <p>
                                Рост может быть любым.
                            </p>
                        </div>
                    </div>
                    <div class="result__figure-card">
                        <h3 class="result__figure-card-title">
                            Ноги
                        </h3>
                        <div class="result__figure-card-text">
                            <p>
                                Ноги, как правило, кажутся достаточно стройными относительно остального тела. Наравне с
                                бедрами и ягодицами, при наборе веса ноги полнеют по всей длине, но в последнюю
                                очередь.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="result__corrections">
                <img src="img/correction-5.jpg" alt="" class="result__corrections-img">
                <div class="result__corrections-content">
                    <h2 class="result__corrections-heading">
                        Основы коррекции для фигуры O
                    </h2>
                    <div class="result__corrections-task">
                        <h3 class="result__corrections-task-title">
                            Главная задача:
                        </h3>
                        <div class="result__corrections-task-text">
                            Скорректировать общее впечатление от фигуры, сделать ее более сбалансированной и убрать
                            внимание с груди и живота
                        </div>
                    </div>
                    <div class="result__corrections-steps">
                        <h3 class="result__corrections-steps-heading">
                            Основные способы коррекции:
                        </h3>
                        <ol class="result__corrections-steps-list">
                            <li class="result__corrections-steps-list-item">
                                <div class="result__corrections-steps-card">
                                    <b>Выступающий живот</b> - разбиваем объем в середине тела, визуально вытягиваем
                                    пропорции (лучше всего с помощью вертикальных линий)

                                </div>
                            </li>
                            <li class="result__corrections-steps-list-item">
                                <div class="result__corrections-steps-card">
                                    <b> Выступающий живот</b> - убираем внимание с живота и переносим его на ноги, руки
                                    и линию декольте

                                </div>
                            </li>
                            <li class="result__corrections-steps-list-item">
                                <div class="result__corrections-steps-card">
                                    <b>Большая грудь</b> - визуально уменьшаем грудь

                                </div>
                            </li>
                            <li class="result__corrections-steps-list-item">
                                <div class="result__corrections-steps-card">
                                    <b>Узкие и покатые плечи</b> - «выпрямляем» линию плеч, добавляем четких линий наверх

                                </div>
                            </li>

                        </ol>
                    </div>
                </div>
            </div>
            <div class="result__links">
                <a href="#" class="result__link">
                    Инструкции по корекции вашего типа фигуры >
                </a>
                <a href="#" class="result__link">
                    Все корекционные методики >
                </a>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}