{{#extend "layout"}}
{{#content "main"}}

<section class="result">
    <div class="container">
        <div class="result__inner">
            <a href="#" class="result__back">
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </a>
            <h1 class="section-heading result__heading">
                Результат - ваш тип Н - фигура (Прямоугольник)
            </h1>
            <div class="result__figure">

                <div class="result__figure-cards">
                    <div class="result__figure-card">
                        <h3 class="result__figure-card-title">
                            Грудь
                        </h3>
                        <div class="result__figure-card-text">
                            <p>
                                Грудная клетка или широкая или прямая. Грудь может быть небольшой, средней (чаще
                                всего) или большой по размеру. При наборе веса лишние килограммы добавляют размера
                                груди.
                            </p>
                        </div>
                    </div>
                    <div class="result__figure-card">
                        <h3 class="result__figure-card-title">
                            Ширина плеч
                        </h3>
                        <div class="result__figure-card-text">
                            <p>
                                Как правило, плечи нормальной ширины и высоты. Встречаются достаточно высокие и чуть
                                широковатые плечи. Покатые плечи практически не встречаются. Плечи и бедра
                                приблизительно одинаковой ширины.
                            </p>
                        </div>
                    </div>
                    <div class="result__figure-card">
                        <h3 class="result__figure-card-title">
                            Талия
                        </h3>
                        <div class="result__figure-card-text">
                            <p>
                                Талия выражена слабо. Практически прямая. Лишние килограммы откладываются в талии в
                                первую очередь. Характерен чуть выступающий вперед живот. Положение талии, как правило,
                                несколько завышено (укороченный торс).
                            </p>
                        </div>
                    </div>
                </div>
                <img src="img/figure-2.png" alt="" class="result__figure-image">
                <div class="result__figure-cards">


                    <div class="result__figure-card">
                        <h3 class="result__figure-card-title">
                            Бедра
                        </h3>
                        <div class="result__figure-card-text">
                            <p>
                                Бедра условно можно назвать прямыми, т.к. они не имеют ярко выраженного изгиба. При
                                наборе веса жировые отложения в верхней части бедер незначительны. Ягодицы часто
                                плоские.
                            </p>
                        </div>
                    </div>
                    <div class="result__figure-card">
                        <h3 class="result__figure-card-title">
                            Рост
                        </h3>
                        <div class="result__figure-card-text">
                            <p>
                                Чаще всего средний и ниже среднего. Фигура в целом производит впечатление коренастой.
                                Прямоугольник высокого роста с очень худощавой фигурой относится к типу “Стройная
                                колонна”(см. дальше)
                            </p>
                        </div>
                    </div>
                    <div class="result__figure-card">
                        <h3 class="result__figure-card-title">
                            Ноги
                        </h3>
                        <div class="result__figure-card-text">
                            <p>
                                Ноги, как правило, стройные. Лишние килограммы на них влияют мало. Ноги часто кажутся
                                достаточно длинными, особенно при завышенной талии.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="result__corrections">
                <img src="img/correction-2.jpg" alt="" class="result__corrections-img">
                <div class="result__corrections-content">
                    <h2 class="result__corrections-heading">
                        Основы коррекции для фигуры Н
                    </h2>
                    <div class="result__corrections-task">
                        <h3 class="result__corrections-task-title">
                            Главная задача:
                        </h3>
                        <div class="result__corrections-task-text">
                            Создать видимость талии и убрать общую «угловатость» фигуры
                        </div>
                    </div>
                    <div class="result__corrections-steps">
                        <h3 class="result__corrections-steps-heading">
                            Основные способы коррекции:
                        </h3>
                        <ol class="result__corrections-steps-list">
                            <li class="result__corrections-steps-list-item">
                                <div class="result__corrections-steps-card">
                                    <b>Широкая талия</b> - ибо визуально сужаем талию (лучший инструмент - перепад
                                    объемов)

                                </div>

                            </li>
                            <li class="result__corrections-steps-list-item">
                                <div class="result__corrections-steps-card">


                                    <b>Широкая талия</b> - либо уводим от нее внимание (с помощью фасонов и стилизаций)

                                </div>
                            </li>
                            <li class="result__corrections-steps-list-item">
                                <div class="result__corrections-steps-card">


                                    Не гипертрофируем отсутствие объемов и изгибов (не выбираем плотное прилегание,
                                    повторяющее формы тела)
                                </div>
                            </li>

                        </ol>
                    </div>
                </div>
            </div>
            <div class="result__links">
                <a href="#" class="result__link">
                    Инструкции по корекции вашего типа фигуры >
                </a>
                <a href="#" class="result__link">
                    Все корекционные методики >
                </a>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}