{{#extend "layout"}}
{{#content "main"}}

<div class="results">
    <div class="container">
        <div class="results__row">
            <div class="results__sidebar">
                <div class="results__block">
                    <h3 class="results__block-heading">
                        Выберете палитру
                    </h3>
                    <div class="results__categories">
                        <a href="#" class="results__categories-link">
                            Яркая весна
                        </a>
                        <a href="#" class="results__categories-link active">
                            Теплая весна
                        </a>
                        <a href="#" class="results__categories-link">
                            Светлая весна
                        </a>
                        <a href="#" class="results__categories-link">
                            Светлое лето
                        </a>
                        <a href="#" class="results__categories-link">
                            Холодное лето
                        </a>
                        <a href="#" class="results__categories-link">
                            Мягкое лето
                        </a>
                        <a href="#" class="results__categories-link">
                            Мягкая осень
                        </a>
                        <a href="#" class="results__categories-link">
                            Теплая осень
                        </a>
                        <a href="#" class="results__categories-link">
                            Темная осень
                        </a>
                        <a href="#" class="results__categories-link">
                            Темная зима
                        </a>
                        <a href="#" class="results__categories-link">
                            Холодная зима
                        </a>
                        <a href="#" class="results__categories-link">
                            Яркая зима
                        </a>
                    </div>
                </div>


            </div>
            <div class="results__main">
                <div class="results__inner">
                    <h1 class="section-heading results__heading">
                        Результаты теста
                    </h1>
                    <div class="info results__info">
                        <svg width="14" height="14" aria-hidden="true" class="icon-info">
                            <use xlink:href="#info"></use>
                        </svg>
                        Поменяйте цвет под фотографией с помощью списка палитр расположенных слева.


                    </div>
                    <ul class="results__list">
                        <li class="results__list-item">
                            <div class="results__image-card">
                                <div class="results__image-card-container">
                                    <img src="img/photo-variant.jpg" alt="" class="results__image-card-image">
                                </div>
                                <div class="results__image-card-color">
                                    <div class="results__image-card-color-item" style="background: #FF68FF;">

                                    </div>
                                    <div class="results__image-card-color-item">
                                        <img src="img/small-tex-1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="results__image-card-desc">
                                    Холодный
                                </div>
                            </div>
                        </li>
                        <li class="results__list-item">
                            <div class="results__image-card">
                                <div class="results__image-card-container">
                                    <img src="img/photo-variant.jpg" alt="" class="results__image-card-image">
                                </div>
                                <div class="results__image-card-color">
                                    <div class="results__image-card-color-item" style="background: #709ED5;">

                                    </div>
                                    <div class="results__image-card-color-item">
                                        <img src="img/small-tex-2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="results__image-card-desc">
                                    Мягкий
                                </div>
                            </div>
                        </li>
                        <li class="results__list-item">
                            <div class="results__image-card">
                                <div class="results__image-card-container">
                                    <img src="img/photo-variant.jpg" alt="" class="results__image-card-image">
                                </div>
                                <div class="results__image-card-color">
                                    <div class="results__image-card-color-item" style="background: #0D5B0E;">

                                    </div>
                                    <div class="results__image-card-color-item">
                                        <img src="img/small-tex-3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="results__image-card-desc">
                                    Темно-Светлый
                                </div>
                            </div>
                        </li>

                    </ul>
                    <div class="results__palette">
                        <h3 class="results__palette-heading">
                            Палитра: Яркая весна - яркий и теплый колорит
                        </h3>
                        <div class="results__palette-colors">
                            <div class="results__palette-color" style="background: #E3E4D5;">

                            </div>
                            <div class="results__palette-color" style="background: #DFDBCC;">

                            </div>
                            <div class="results__palette-color" style="background: #E3DABF;">

                            </div>
                            <div class="results__palette-color" style="background: #D3CBBB;">

                            </div>
                            <div class="results__palette-color" style="background: #C0C6B6;">

                            </div>
                            <div class="results__palette-color" style="background: #F09FC9;">

                            </div>
                            <div class="results__palette-color" style="background: #EC87B9;">

                            </div>
                            <div class="results__palette-color" style="background: #D9558F;">

                            </div>
                            <div class="results__palette-color" style="background: #E66F9F;">

                            </div>
                            <div class="results__palette-color" style="background: #B63E64;">

                            </div>
                            <div class="results__palette-color" style="background: #ABB0AF;">

                            </div>
                            <div class="results__palette-color" style="background: #97A09B;">

                            </div>
                            <div class="results__palette-color" style="background: #59605E;">

                            </div>
                            <div class="results__palette-color" style="background: #3A4241;">

                            </div>
                            <div class="results__palette-color" style="background: #1F2021;">

                            </div>
                            <div class="results__palette-color" style="background: #C5D981;">

                            </div>
                            <div class="results__palette-color" style="background: #97BB5B;">

                            </div>
                            <div class="results__palette-color" style="background: #609544;">

                            </div>
                            <div class="results__palette-color" style="background: #406F38;">

                            </div>
                            <div class="results__palette-color" style="background: #2E4A30;">

                            </div>
                            <div class="results__palette-color" style="background: #B9B6AF;">

                            </div>
                            <div class="results__palette-color" style="background: #675F58;">

                            </div>
                            <div class="results__palette-color" style="background: #302D2D;">

                            </div>
                            <div class="results__palette-color" style="background: #27548D;">

                            </div>
                            <div class="results__palette-color" style="background: #224068;">

                            </div>
                            <div class="results__palette-color" style="background: #60C478;">

                            </div>
                            <div class="results__palette-color" style="background: #428D54;">

                            </div>
                            <div class="results__palette-color" style="background: #30683F;">

                            </div>
                            <div class="results__palette-color" style="background: #4DA670;">

                            </div>
                            <div class="results__palette-color" style="background: #2A5941;">

                            </div>
                            <div class="results__palette-color" style="background: #E5E1B1;">

                            </div>
                            <div class="results__palette-color" style="background: #F2CEC2;">

                            </div>
                            <div class="results__palette-color" style="background: #AFE3D8;">

                            </div>
                            <div class="results__palette-color" style="background: #B1E2ED;">

                            </div>
                            <div class="results__palette-color" style="background: #BAC1E9;">

                            </div>
                            <div class="results__palette-color" style="background: #74D2D5;">

                            </div>
                            <div class="results__palette-color" style="background: #57B4B6;">

                            </div>
                            <div class="results__palette-color" style="background: #3F837D;">

                            </div>
                            <div class="results__palette-color" style="background: #55ACBB;">

                            </div>
                            <div class="results__palette-color" style="background: #2F636B;">

                            </div>
                            <div class="results__palette-color" style="background: #F4D372;">

                            </div>
                            <div class="results__palette-color" style="background: #F0C87A;">

                            </div>
                            <div class="results__palette-color" style="background: #E1AF59;">

                            </div>
                            <div class="results__palette-color" style="background: #D19860;">

                            </div>
                            <div class="results__palette-color" style="background: #A34639;">

                            </div>
                            <div class="results__palette-color" style="background: #5D9ED5;">

                            </div>
                            <div class="results__palette-color" style="background: #336FB6;">

                            </div>
                            <div class="results__palette-color" style="background: #977BC6;">

                            </div>
                            <div class="results__palette-color" style="background: #6A539F;">

                            </div>
                            <div class="results__palette-color" style="background: #36306F;">

                            </div>
                            <div class="results__palette-color" style="background: #ECAEAF;">

                            </div>
                            <div class="results__palette-color" style="background: #ED9289;">

                            </div>
                            <div class="results__palette-color" style="background: #DB605E;">

                            </div>
                            <div class="results__palette-color" style="background: #EA8369;">

                            </div>
                            <div class="results__palette-color" style="background: #D1514F;">

                            </div>
                            <div class="results__palette-color" style="background: #E08FBF;">

                            </div>
                            <div class="results__palette-color" style="background: #CA5C95;">

                            </div>
                            <div class="results__palette-color" style="background: #7D305A;">

                            </div>
                            <div class="results__palette-color" style="background: #E9A8BD;">

                            </div>
                            <div class="results__palette-color" style="background: #E78BA6;">

                            </div>
                            <div class="results__palette-color" style="background: #CB536B;">

                            </div>
                            <div class="results__palette-color" style="background: #EC8492;">

                            </div>
                            <div class="results__palette-color" style="background: #C74B5D;">

                            </div>
                            <div class="results__palette-color">
                                <img src="img/palette-1.jpg" alt="">
                            </div>
                            <div class="results__palette-color">
                                <img src="img/palette-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="results__btns">
                        <a href="#" class="results__btn results__btn--filled">
                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                            Загрузить PDF
                        </a>
                        <a href="#" class="results__btn">

                            Сбросить цвета к исходным
                        </a>
                        <a href="#" class="results__btn">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                            Пройти тест заново
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{{/content}}
{{/extend}}