{{#extend "layout"}}
{{#content "main"}}

<div class="values">
    <div class="container">
        <div class="values__inner">
            <h1 class="section-heading values__heading">
                Личные ценности
            </h1>
            <div class="values__text">
                <p>
                    Укажите вашу почту и пароль что бы получить доступ к материалам курса. Обратите внимание, что по
                    окончанию обучения доступ будет закрыт.
                    Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into. Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into.
                </p>
            </div>
            <form action="/" class="values__form">
                <div class="values__checkboxes">
                    <label class="values__checkbox">
                        <input type="checkbox" name="value[]" class="values__checkbox-input" checked="">
                        <span class="values__checkbox-mark">
                            <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                        </span>
                        Ценность 1

                    </label>
                    <label class="values__checkbox">
                        <input type="checkbox" name="value[]" class="values__checkbox-input">
                        <span class="values__checkbox-mark">
                            <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                        </span>
                        Ценность 2

                    </label>
                    <label class="values__checkbox">
                        <input type="checkbox" name="value[]" class="values__checkbox-input">
                        <span class="values__checkbox-mark">
                            <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                        </span>
                        Ценность 3

                    </label>
                    <label class="values__checkbox">
                        <input type="checkbox" name="value[]" class="values__checkbox-input">
                        <span class="values__checkbox-mark">
                            <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                        </span>
                        Ценность 4

                    </label>
                    <label class="values__checkbox">
                        <input type="checkbox" name="value[]" class="values__checkbox-input">
                        <span class="values__checkbox-mark">
                            <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                        </span>
                        Ценность 5

                    </label>
                    <label class="values__checkbox">
                        <input type="checkbox" name="value[]" class="values__checkbox-input">
                        <span class="values__checkbox-mark">
                            <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                        </span>
                        Ценность 6

                    </label>
                    <label class="values__checkbox">
                        <input type="checkbox" name="value[]" class="values__checkbox-input">
                        <span class="values__checkbox-mark">
                            <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                        </span>
                        Ценность 7

                    </label>
                    <label class="values__checkbox">
                        <input type="checkbox" name="value[]" class="values__checkbox-input">
                        <span class="values__checkbox-mark">
                            <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                        </span>
                        Ценность 8

                    </label>
                    <label class="values__checkbox">
                        <input type="checkbox" name="value[]" class="values__checkbox-input">
                        <span class="values__checkbox-mark">
                            <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                        </span>
                        Ценность 9

                    </label>
                </div>
                <button class="btn values__form-submit">
                    Узнать результат
                </button>
            </form>
            
        </div>
    </div>
</div>

{{/content}}
{{/extend}}