.btn {
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;
    border-radius: 0.4rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: white;
    box-shadow: 0 1.7rem 5rem -0.5rem rgba(0, 0, 0, 0.3);
    width: 33.6rem;
    &:link,
    &:visited {
        color: white;
    }

    &[disabled] {
        pointer-events: none;
        background: #c9cdd1;
        color: white;
        box-shadow: none;
    }

    .no-touch &:hover,
    .touch &:active {
        background-color: var(--text-color);
        color: white;
    }

    &:focus-visible {
        background-color: var(--text-color);
        color: white;
    }

    @include breakpoint(mobile) {
        box-shadow: none;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 2.4rem;
        padding: 1rem 2rem;
        width: 100%;
    }
}
